:root{
    --primary-color:#0b090d;
    --text-while:#fafafa;
    --text-black:#0b090d;
    --hover-color:#d94918;
    --hover1-color:#d9643d;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.gird{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
/* Header */
.header {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: var(--text-while);
}

.header__nav{
    justify-content: space-between;
    display: flex;
    min-height: 110px;
}

.nav__element > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__element .iconsearch__header{
    color: var(--hover-color);
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.nav__element > ul a{
    text-decoration: none;
    color: var(--text-while);
    font-weight: 600;
    font-size: 18px;
    display: block;
    padding: 25px;
    transition: .5s;
}

.nav__element  #search__movie {
    border: none;
    padding: 7px;
    width: 300px;
    border-radius: 5px;
    display: none;
}

.nav__element:first-child li:first-child>a{
    padding-left: 0;
}

.nav__element:last-child li:last-child>a{
    padding-right: 0;
}

.nav__element a:hover{
    color: var(--hover-color);
    font-size: 19px;
}

.header__event{
    display: flex;
    padding-bottom: 74px;
}

.event__infor{
    width: 30%;
    margin: auto 0;

}

.event__slide{
    width: 70%;
    margin: auto 0;
    display: flex;
    position: relative;
}

.control__slidepr-prev{
    left: 22% !important;
}

.control__slidepr-prev:hover,
.control__slidepr-next:hover{
    background-color: var(--hover-color);
    color: var(--text-while);
}


.control__slidepr-next{
    right: 2% !important;
}

.event__slide img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(199, 97, 33, 0.35) 0px 5px 15px;

}

.event__slide .slide__pr > div {
    position: absolute;
    border-radius: 10px;
    transition: 2s;
}

.event__slide .slide__pr > div:nth-child(1){
    width: 70%;
    top: -108px;
    right: 5%;
    z-index: 10;
}

.event__slide .slide__pr > div:nth-child(2){
    width: 60%;
    top: -80px;
    right: 20%;
    z-index: 9;
    opacity: .9;
}

.event__slide .slide__pr > div:nth-child(3){
    width: 50%;
    top: -56px;
    right: 35%;
    z-index: 8;
    opacity: .9;
}

.event__slide .slide__pr > div:nth-child(n+4){
    width: 60%;
    top: -80px;
    right: 0%;
    z-index: 9;
    opacity: .9;
}
.event__infor h1 {
   font-size: 48px;
   padding: 24px 0;
}

.event__infor li {
    list-style-type: none;
    padding: 3px 0;
}

.event__infor li >i {
    color: var(--hover-color);
    font-size: 18px;
    margin-right: 6px;
}

.event__infor > button {
    margin-top: 40px;
    border: none;
    height: 45px;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--text-while);
    background-color: var(--hover-color);
    transition: .3s;
}


.event__infor > button:hover{
    background-color: transparent;
    border: 2px solid var(--hover-color);
    border-radius: 9px;
    padding: 8px 18px;
}

/* BODY */


/* movie show */
.movieshow{
    background-color: var(--primary-color);
    color: var(--text-while);
}

.movieshow__base{
    padding: 56px 0;
    position: relative;
    overflow: hidden;
}

.movieshow__base > h2 {
    text-align: center;
    font-size: 35px;
}


.movies__show{
    width: 100%;
    height: 360px;
}

.control {
    width: 43px;
    height: 40px;
    background-color: rgb(228, 228, 228);
    color: var(--text-black);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    z-index: 11;
    cursor: pointer;
}

.control__hiden{
    display: none;
}

.control__show-flex{
    display: flex !important;
}

.control__show{
    display: block!important;
}

.control:hover{
    opacity: 0.9;
}

.control.next{
    position: absolute;
    right: 0px;
    top: 46%;
}

.control.prev{
    position: absolute;
    left: 0px;
    top: 46%;
}

.movies{
    width: 20%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    transition: 0.5s;
    cursor: pointer;
}

.movies:hover .img__movies img {
    transform:scale(1.05);
}


.movies:hover h3,
.movies:hover p{
    color: var(--hover-color);
}


.movies:nth-child(1){
    transform: translate(0);
}
.movies:nth-child(2){
    transform: translate(100%);
}

.movies:nth-child(3){
    transform: translate(200%);
}
.movies:nth-child(4){
    transform: translate(300%);
}

.movies:nth-child(5){
    transform: translate(400%);
}

.movies:nth-child(n+6){
    transform: translate(500%);
}


.infor__movie {
    padding: 20px;
    position: relative;
}




.img__movies{
    border-radius: 10px;  
    overflow: hidden;
}

.movies img {
    width: 100%;
    border-radius: 10px;
    transition:0.5s;
}



.movies .rank{
    position: absolute;
    bottom: 70px;
    left: 9px;
    font-size: 40px;
    text-shadow: 2px 0px 2px #000;
}

.old {
    min-width: 20px;
    background-color: yellow;
    border-radius: 5px;
    position: absolute;
    top: 27px;
    left: 27px;
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
}

.movies p{
    font-weight: 300;
    font-size: 12px;
    color: rgba(163, 163, 163, 1)
}

.score{
    align-items: center;
}
.score i{
    color: gold;
    font-size: 10px;
    padding-right: 4px;
}

.score div{
   font-weight: 200;
   font-size: 14px;
}

/* upcoming movie*/

.nav__location{
    align-items: center;
}

.nav__location .index,.location,.near{
    margin: 10px;
}

.nav__location .location,.near{
    padding: 5px;
    background-color: #ffffff;
    border: 0.2px solid rgb(158, 158, 158);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 650;
}

.nav__location .location p,.near p {
    padding: 0 5px;
}

.hover__btn:hover{
    background-color: #d3d3d3;
}

/* Movie__schedule */
.movie__schedule{
    padding: 56px 0;
}

.movie__schedule > h1 {
    text-align: center;
    padding-bottom: 20px;
}
/* Movie__schedule__ nav-location*/



/* Movie__schedule__ nav-list__cinemas*/
.movie__schedulebase{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    padding: 30px;
    max-height: 860.719px;

}

.cinemas{
   width: 70%;
}

.list__cinemas .cinema{
    width: 10%;
    padding: 10px;
    list-style-type: none;
}

.list__cinemas .cinema:first-child{
    padding-left: 0;  
}

.search__cinemas{
    width: 30%;
    justify-content: center;
    align-items: center;
}

.search__cinemas > input {
    height: 30px;
    width: 90%;
    border: 0.2px solid rgb(158, 158, 158);
    border-radius: 5px;
    margin-right: 4px;
    padding: 3px;
}

.list__cinemas .cinema a{
    text-decoration: none;
    color: var(--text-black);
    font-size: 12px;
}

.list__cinemas .cinema p{
   text-align: center;
}

.list__cinemas .cinema .logo__cinema{
    /* background: red; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list__cinemas .cinema img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

/* showdate & theatername */
.showdatetheatername{
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}

.showdatetheatername > .showdate .day {
    height: 62px;
    width: 64px;
    background-color: #ffffff; 
    color: #b1b1b1;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    margin: 5px;
}


.showdatetheatername > .showdate .day:first-child{
    margin-left: 0;
}

.showdatetheatername > .showdate .day div{
    padding: 6px;
    border-radius: 5px;
    background-color:#f5f5f5;
    color: var(--text-black);
}

.showdatetheatername > .showdate .day p {
    font-size: 14px;
}

.showdatetheatername > .showdate .day:hover{
    border: 1px solid var(--hover-color);
    color: var(--hover-color);
}
.showdatetheatername > .showdate .day:hover .showdate__day{
    background-color:var(--hover-color);
    color: var(--text-while);
}


.showdatetheatername > .theatername{
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 300;
    border-left: 5px solid #e5e5e5;
}

.showdatetheatername > .theatername img {
    padding: 10px;
}
/* ticket__list */

.ticket__list{
    border-radius: 5px;
    max-height: 562.81px;
    overflow-y: scroll;
    scrollbar-color: #e5e5e5;
    scrollbar-width: thin;

}


.ticket__list .ticket__movie{
    width: 60%;
}

/* tickets */

.ticket__list .tickets > .ticket {
    padding: 15px 0; 
    border-bottom: 1px solid #e5e5e5;
   
}

.ticket__list .tickets > .ticket:last-child{
    border: none;
}

.ticket__list .ticket__movie .movies{
    width: 30%;
}

.ticket__list .ticket__movie .movies__schedule .img__movies {
    border-radius: 10px;
    width: 30%;
    padding-right: 20px;
    
}

.ticket__list .ticket__movie .movies__schedule .img__movies img {
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.old--schedule{
    width: 31px;
    background-color: yellow;
    border-radius: 5px;
    color: var(--hover-color);
    font-size: 14px;
    font-weight: 600;
    padding: 3px;
}

.score__schedule{
    margin-top: 158px;
}

.ticket__list .ticket__movie .movies > div {
    padding: 0;
}

.ticket__time{
    width: 40%;
    flex-wrap: wrap;
    margin: auto;
}

.ticket__time > .box__time{
    width: 25%;
    padding: 5px;
}

.ticket__time > .box__time > div:hover{
    padding: 7px;
    border:2px solid var(--hover-color);
}

.ticket__time > .box__time > div{
    border: 1px solid var(--hover-color);
    border-radius: 5px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}













/* CSS section Bình luận nổi bật */
#text{
    color:#d94918 !important; 
} 
.section_middle{
    padding: 64px 0px;
}
.section_middle--element  {
    border-radius: 20px;
    padding:0px;
    margin-bottom:30px;
    width:100%;
    height:300px;
    border: 1px solid white;
    box-shadow: 2px 8px 15px 2px #d3d3d3;
}
.section_middle>h1{
    margin:0px;
    font-size: 30px;
    color:#262626;
    text-align: center;
    margin-bottom: 15px;
}
.element--left_on{
    position:relative !important;
}
.section_middle__element--left .element--left_on>img{
    width: 400px; 
    height:300px;
    border-radius: 10px 0px 0px 10px;
}
.element--left_on button {
    width:40px; 
    height:40px; 
    border-radius: 50%;
    background:none; 
    position:absolute;
    top:125px;
    left:180px;
    border: white 2px solid;
}
.element--left_on button:hover{
    transform: scale(1.15)
}
.element--left_on button i{
    font-size: 20px;
    text-align: center;
    color:white; 
}
.element--left_on div{
    font-weight:bold;
    color:white; 
}
.element--left_on div:nth-child(3){
    position:relative;
    top:-82px;
    left:30px;
} 
.element--left_on a>img{
    width:35px; 
    height:35px;
    border-radius: 10px;
    border:0.2px #d94918 solid;
}
.element--left_on .element__on{
    position:absolute;
    top: 250px;
    left:30px;
}
.element__on {
    justify-content: space-between;
    width:140px;
}
.element__on div{
    position:relative;
}
.element--left_on .element__on div span{
    margin-left:5px;      
    position:absolute;
    top: 8px;
}
.element--left_on .element__on div i{
    line-height: 1.5;
    color:#b7bdc5;
}
.element--left_on .element__on div i:hover {
    color:white; 
}
/* CSS  section_middle__element--right*/
.section_middle__element--right{
    padding: 20px 0px 0px 20px ;
}
.element--right{
    padding-bottom: 30px;
}
.element--right_people-comment img{
    border-radius: 50%;
    width:40px;
    height:40px;
 
    box-sizing: border-box;
}
.element--right_people-comment .information span{
    padding-left: 5px;
}
.element--right_people-comment #name{
    color:#000000;
    font-size: 16px;
    font-weight: bold;
}
.element--right_people-comment #time{
    color:#A3A3A3;
    font-size: 16px;
}
.element--right_people-comment #txt{
    color:#d94918;
    font-size: 16px;
    padding-top:-2px;
}
.right_comment{
    position:relative;
}
.click_comment{
    padding:30px;
    position:absolute;
    background:blue; 
    width:500px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 2px 10px 15px 4px #ffefdb;
    display:none;
}
.right_comment:hover .click_comment{
        display:block;
        position:fixed;
        top: 150px;
        left:520px;
        background:#ffdab9;
        z-index: 10;
        opacity:1;  
        animation: toTop  0.5s 1 linear;
    }
    @keyframes toTop {
        0%{
               Transform: translateY(400px);
         }
         100% {
                Transform: translateY(0px);
           }
    }


.see_more a {
    color:#000000;
    font-size: 16px;
    font-weight: bold;
}
.see_more i {
    color:#A3A3A3;
}
.see_more a:hover{
    color:#d94918 !important;
}
/* Css Button */
.button__see_more{
    display:flex;
    justify-content: center;
}
.button__see_more button {
    
    color :#d94918;
    border:#d94918 1px solid;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 150px;
    height:35px;
}
.button__see_more button i{
    animation: toBottom  1s infinite linear;
}
@keyframes toBottom {
    0%{
           Transform: translateY(-5px);
     }
     100% {
            Transform: translateY(5px);
       }
}

/* modal */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 100;
    display: none;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
}

.modal__body{
    z-index: 110;
    margin: auto;
}

/* modal__moviechair */

.modal__body > .moviechair {
    display: none;
    max-width: 1100px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.modal__body > .moviechair > .modal__moviechairheader{
    padding: 12px 16px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--hover-color);
    color: var(--text-while);
}

 #close__moviechair{
    cursor: pointer;
    transition: .3s;
 }

 #close__moviechair:hover{
    opacity: .7;
 }

.modal__body > .moviechair > .modal__moviechairheader h3 {
    margin: 0 auto;
}

.modal__body > .moviechair > .modal__moviechairheader i {
    font-size: 25px;
}

.modal__body > .moviechair > .modal__moviechairbody{
    /* background-color: #262626; */
    background-color: #171717;
}

.modal__body > .moviechair > .modal__moviechairbody .screen {
    padding: 40px;
    width: 35%;
    margin: 0 auto;
    border-bottom: 6px solid white;
    border-radius: 3px;
}
.modal__body > .moviechair > .modal__moviechairbody h3{
    text-align: center;
    color: var(--text-while);
    padding: 10px;
    font-weight: 500;
}

.modal__body > .moviechair > .modal__moviechairbody .chairs{
    padding: 0 85px;
}

.modal__body > .moviechair > .modal__moviechairbody .chair__left ,
.modal__body > .moviechair > .modal__moviechairbody .chair__right{
    width: 50%;
}

.modal__body > .moviechair > .modal__moviechairbody .chair__left{
    padding-right: 20px;
}

.modal__body > .moviechair > .modal__moviechairbody .chair__right{
    padding-left: 20px;
}

.modal__body > .moviechair > .modal__moviechairbody .chair__left > div,
.modal__body > .moviechair > .modal__moviechairbody .chair__right > div{
    flex-wrap: wrap;
}

.modal__body > .moviechair > .modal__moviechairbody .chair{
    width: 12.5%;
    padding: 6px;
    cursor: pointer;
    transition: .3s;
}

.modal__body > .moviechair > .modal__moviechairbody .chair:hover{
    opacity: 0.6;
}

.modal__body > .moviechair > .modal__moviechairbody .chair > div {
    color: red;
    border-radius: 6px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-weight: 500;
    font-size:12px ;
    color: var(--text-while);
}

.Normal__chair > .chair div{
    background-color: #722ed1;
}

.vip__chair > .chair div{
    background-color: #f5222d;
}

.modal__body > .moviechair > .modal__moviechairbody .listchair{
    padding: 40px;
    align-items: center;
    justify-content: center;
    color: var(--text-while);
}

.modal__body > .moviechair > .modal__moviechairbody .listchair .chairtype{
    padding: 0 10px;
}

.modal__body > .moviechair > .modal__moviechairbody .listchair .colorchair{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 3px;
    margin-right: 4px;
}

.modal__body > .moviechair > .modal__moviechairbody .listchair .colorchair.Normal{
    background-color: #722ed1;
}
.modal__body > .moviechair > .modal__moviechairbody .listchair .colorchair.vip{
    background-color: #f5222d;
}
.modal__body > .moviechair > .modal__moviechairbody .listchair .colorchair.choise{
    background-color: var(--hover-color);
}

.modal__body > .moviechair > .modal__moviechairbody .listchair .colorchair.full{
    background-color:#404040;
}

.moviechair .informovie{
    background-color: black;
    color: var(--text-while);
    padding: 30px 85px;
    align-items: center;
    justify-content: space-between;
}


.moviechair .informovie .namemovie{
    font-size: 20px;
    font-weight: 700;
}

.moviechair .informovie .time{
    padding: 5px 0;
    font-size: 12px;
    font-weight: 300;
}
.moviechair .informovie .namechairs{
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
.moviechair .informovie .namechairs i{
    color: var(--hover-color);
}

#choisechair{
    
}

.youchoise{
    background-color: var(--hover-color) !important;
    cursor: default;
}

#choisechair li{
    list-style-type: none;
    padding: 5px;
}

.moviechair .pay{
    background: linear-gradient(black,#1c1c1c);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--text-while);
    padding:0 85px 20px 85px;
    justify-content: space-between;
    align-items: center;
}

.moviechair .pay button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--hover-color);
    color: var(--text-while);
    font-weight: 600;
}
/*css footer*/
.block{
    display:block;
}
.flex{
    display:flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.white-space{
    white-space:nowrap;
}
#hover-text:hover {
    color:white !important;
}
.footer > div{
    margin: 0px;
    padding: 0px; 
    font-size: 14px;
    background: rgb(17,17,17);
}

.footer b{
    color: white;
    font-size: 12px;
}
.footer .footer__top{
    padding: 30px 0 30px 0;
}
footer a:hover {
    color:white !important ;
 }
footer .footer__table--list a {
    display:block;   
    color:gray;
    text-decoration: none;
}
footer .footer__table--list span {  
    color:gray;
    font-size: 12px;
}
.footer .footer__table--list  {
    justify-content: space-evenly;
   
}
/* CSS Cột 1 */
.footer .footer__table--list .footer__top--col_1{
    width: 80%;
}
.footer .footer__table--list .footer__top--col_1 a {
    padding-top: 14px;
}
/* CSS Cột 2 */
.footer .footer__table--list .footer__top--col_2{
    width: 70%;
}
.footer__top--col_2  div[class="flex"]{
    padding-top: 22px;
}
.footer .footer__table--list .footer__top--col_2 a {
    padding-left: 10px;
}
#footer--img{
    width:24px;
    height:24px;
    margin-top: -5px ; 
    
}
/* CSS Cột 3 */
.footer .footer__table--list .footer__top--col_3{
    width: 100%;
    position:relative;
}
.col_3--section_top .block{
    margin-top: 14px;
}
.col_3--section_top .flex{
    margin-top: 4px;
}
.col_3--section--button{
    border:1px solid white;
    border-radius: 5px;
    margin:12px 0px 0px 0px !important; 
    background: black;
    box-sizing:border-box ;
    position:relative;
    white-space: nowrap;
    width:210px;   
}
#col_3--section_top--img{
    height:35px;
    width:28px;
    margin: 8px 8px 7px 8px ; 
}
.col_3--section_down{
    margin-top:32px;
}
#col_3--section_down--img{
    height:37px;
    width:30x; 
    margin: 8px 8px 7px 8px ; 
}
.button__text{
    padding: 5px;
}
.col_3--section_down .first {
    margin-top:14px !important;
}
.col_3--section_down .flex{
    margin-top:4px;
}
/* CSS Cột 4 */
.footer .footer__table--list .footer__top--col_4{
    width: 90%;
    margin-left: 60px;
    box-sizing: border-box;
    position:relative;
}
.col_4--section_top img{
    width:40px;
    height:40px;
    margin:14px 16px 14px 0px;
    padding: 0px;
}
.col_4--section_top a>img{
    justify-content: space-between;
}
.col_4--section_middle img{
    width:80px;
    height:80px;
}
.col_4--section_middle{
    margin-top:85px;
}
.col_4--section_middle>div{
    margin-top:14px;
}
.col_4--section_middle .middle__button img{
    width:150px;
    height:40px;
    margin: 0px 0px 0px 6px;
    Background-origin: border-box;
    background-size:cover;
}
.col_4--section_down{
    margin-top:85px;
}
.col_4--section_down img{
    margin-top: 14px;
}
/* CSS footer down*/
.footer .footer__down{
    background: rgb(26,26,26);
    padding: 20px 0px;
    color: gray;
    width:100%;
}

.footer .footer__down img{
    width:50px; 
    height:50px; 
    border-radius: 10%;
}
.footer__down #footer__down--text{
   position: center center;
   line-height: 25px;
   text-indent: 10px;
}
.footer__down > div {
    justify-content: space-between;
}
.footer__down--section-left{
   padding-top:30px;
}